@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to out playlist exchange API</h1>
<div>Search by Users</div>
<div>
    <a href="Home/Contact"> Users</a>
</div>
<div>Search by Playlists</div>
<div>
    <a href="Home/About"> Playlists</a>
</div>
<div>Search by Songs</div>
<div>
    <a href="Home/Song"> Songs</a>
</div>